body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.players-container {
  outline: 1px solid #ccc;
  padding: 20px;
}

.player-item:not(:last-child) {
  margin-bottom: 20px;
}

.player-name {
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.deck {
  padding: 20px;
  border: 1px solid #ccc;
}

.card-item, .table-card {
  width: 50px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
}

.player-cards {
  display: flex;
}

.card-item span, .table-card span {
  position: absolute;
  top: 5px;
  right: 5px;
}

.table {
  display: flex;
}
